body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("assets/abstract_blured.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
}

.base {
    font-weight:bold;
    padding: 3px;
}

.baseinput{
    font-size: 16px;
    border-style: none;
    border-radius: 3px;
}

.basemessage{
    font-size: 16px;
    border-style: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.subbutton{
    border-style: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
}

.subbutton:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

input{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
}